In [6]:
#exercice n2
n=int(input("donner la valeur n:"))
while n<0:
    print("doner une valeur positif")
    if n==0:
        print("le factorielle de 0=1")
else:
    f=1
    for i in range (2,n+1):
        f=i*f
    print(f)

donner la valeur n:4
24

In [3]:
#exercice n1
a=2000
b=3201
x=[]
for i in range(a,b,1):
    if i%7==0 and i%5!=0:
        x.append(i)
print(x)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [8]:
#exercice 3
n=int(input("donner un nombre:"))
d={}
for i in range(1,n+1):
    d[i]=i*i
    print(d)

donner un nombre:5
{1: 1}
{1: 1, 2: 4}
{1: 1, 2: 4, 3: 9}
{1: 1, 2: 4, 3: 9, 4: 16}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [11]:
#exercice 4
ch=str(input("donner une chaine:"))
n=len(ch)
print(n)
a=int(input("doner lindex a suprimer"))
for i in range (0,n-1):
    if(a==i):
        ch=ch[:i]+ch[i+1:]
print(ch)

donner une chaine:hedi
4
doner lindex a suprimer2
hei

In [2]:
#exercicie5
import numpy as np
tb=np.array([[0,1],[2,3],[4,5]])
print(tb)
liste=tb.tolist()
print(liste)

[[0 1]
 [2 3]
 [4 5]]
[[0, 1], [2, 3], [4, 5]]

In [3]:
#exercice6
import numpy as np
tb1=np.array([0,1,2])
tb2=np.array([2,1,0])
np.cov(tb1,tb2)

array([[ 1., -1.],
       [-1.,  1.]])